body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
header, footer {
    height: 75px;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    width: 100%;
}
.content {
    flex: 1;
    margin: 20px;
}
.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.footer-links li {
    margin: 0 20px; 
}
.footer-links a {
    color: white;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}

.tabela-md-post {
    width: 100%;
    border-collapse: collapse;
}

.tabela-md-post th, .tabela-md-post td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.column{
    background-color: #0e2350;
    color: aliceblue;
}

.image-container { 
    display: flex; 
    justify-content: center; 
    margin: 20px 0; 
} 

.image-item { 
    margin: 0 10px; 
    text-align: center; 
}

.image-item img { 
    max-width: 100%; 
    height: auto; 
}